{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
     Only "getter" methods (method names starting with "get", "has", or "is")
     and a few common methods such as "id" and "label" are available. Calling
     other methods (such as node.delete) will result in an exception.
 * - label: The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: Themed creation date field.
 * - author_name: Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @ingroup templates
 *
 * @see template_preprocess_node()
 *
 * @todo Remove the id attribute (or make it a class), because if that gets
 *   rendered twice on a page this is invalid CSS for example: two lists
 *   in different view modes.
 */
#}

<!-- Node Emsamble -->
<article class="ensamble">

  <div class="container">

    <div class="row titulo">
      <div class="col-md-12">
        <h1>{{ label }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="anclas">

          {% if content.field_clasificaciones|render %}
            <a href="#field_clasificaciones" class="scroll_to">
              {{ node.field_clasificaciones.fieldDefinition.label }}
            </a>
          {% endif %}

          {% if content.field_caracteristicas|render %}
            <a href="#field_caracteristicas" class="scroll_to">
              {{ node.field_caracteristicas.fieldDefinition.label }}
            </a>
          {% endif %}

          {% if content.field_aplicaciones|render %}
            <a href="#field_aplicaciones" class="scroll_to">
              {{ node.field_aplicaciones.fieldDefinition.label }}
            </a>
          {% endif %}

          {% if content.field_ambientes|render %}
            <a href="#field_ambientes" class="scroll_to">
              {{ node.field_ambientes.fieldDefinition.label }}
            </a>
          {% endif %}

          {% if content.field_video|render %}
            <a href="#field_video" class="scroll_to">
              {{ node.field_video.fieldDefinition.label }}
            </a>
          {% endif %}

          {% if content.field_recursos|render %}
            <a href="#field_recursos" class="scroll_to">
              {{ node.field_recursos.fieldDefinition.label }}
            </a>
          {% endif %}

          {% if content.field_numeros_de_parte|render %}
            <a href="#field_numeros_de_parte" class="scroll_to">
              {{ node.field_numeros_de_parte.fieldDefinition.label }}
            </a>
          {% endif %}

        </div>
      </div>
    </div>

    <div class="row informacion_basica">
      {% set col_size = (content.field_descripcion|render and content.field_imagen|render) ? 6 : 12 %}
      {% if content.field_descripcion|render %}
        <div class="col-md-{{ col_size }}">
          {{ content.field_descripcion }}
          {% if content.field_ficha_tecnica|render %}
            {{ content.field_ficha_tecnica }}
          {% endif %}
        </div>
      {% endif %}
        {% if content.field_imagen|render %}
          <div class="col-md-{{ col_size }}">
            {{ content.field_imagen }}
          </div>
        {% endif %}
    </div>

    {% if content.field_texto_complementario|render %}
      <div class="row texto_complementario">
        <div class="col-md-12">
          {{ content.field_texto_complementario }}
        </div>
      </div>
    {% endif %}

    {% if content.field_clasificaciones|render %}
      <div id="field_clasificaciones" class="row">
        <div class="col-md-12">
          <h2>
            {{ node.field_clasificaciones.fieldDefinition.label }}
          </h2>
        </div>
        <div class="col-md-12">
          {{ content.field_clasificaciones }}
        </div>
      </div>
    {% endif %}

    {% if content.field_caracteristicas|render %}
      <div id="field_caracteristicas" class="row">
        <div class="col-md-12">
          <h2>
            {{ node.field_caracteristicas.fieldDefinition.label }}
          </h2>
        </div>
        <div class="col-md-12">
          {{ content.field_caracteristicas }}
        </div>
      </div>
    {% endif %}

    {% if content.field_aplicaciones|render %}
      <div id="field_aplicaciones" class="row">
        <div class="col-md-12">
          <h2>
            {{ node.field_aplicaciones.fieldDefinition.label }}
          </h2>
        </div>
        <div class="col-md-12">
          {{ content.field_aplicaciones }}
        </div>
      </div>
    {% endif %}

    {% if content.field_ambientes|render %}
      <div id="field_ambientes" class="row">
        <div class="col-md-12">
          <h2>
            {{ node.field_ambientes.fieldDefinition.label }}
          </h2>
        </div>
        <div class="col-md-12">
          {{ content.field_ambientes }}
        </div>
      </div>
    {% endif %}

    {% if content.field_video|render %}
      <div id="field_video" class="row">
        <div class="col-md-12">
          <h2>
            {{ node.field_video.fieldDefinition.label }}
          </h2>
        </div>
        <div class="col-md-12">
          {{ content.field_video }}
        </div>
      </div>
    {% endif %}

    {% if content.field_recursos|render %}
      <div id="field_recursos" class="row">
        <div class="col-md-12">
          <h2>
            {{ node.field_recursos.fieldDefinition.label }}
          </h2>
        </div>
        <div class="col-md-12">
          {{ content.field_recursos }}
        </div>
      </div>
    {% endif %}

    {% if content.field_numeros_de_parte|render %}
      <div id="field_numeros_de_parte" class="row">
        <div class="col-md-12">
          <h2>
            {{ node.field_numeros_de_parte.fieldDefinition.label }}
          </h2>
        </div>
        <div class="col-md-12">
          {{ content.field_numeros_de_parte }}
        </div>
      </div>
    {% endif %}

  </div>

</article>
