/**
 * Don't edit this file. Find all style at ./sass folder.
 **/
#media-browser-modal {
  padding: 0;
  overflow: hidden !important;
}

.ui-dialog .form-actions .selected-summary {
  float: left;
  width: 50%;
}

.ui-dialog .form-actions .buttons {
  float: right;
  text-align: right;
  width: 50%;
}

.ui-dialog .form-actions .buttons .components-form-file-upload {
  display: inline-block;
}

.media-browser {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.media-browser .content {
  overflow: hidden;
  height: 100%;
}

.media-browser .content .toolbar {
  padding: 5px 10px;
}

.media-browser .content .list {
  position: absolute;
  left: 0;
  right: 320px;
  top: 50px;
  bottom: 0;
  overflow: auto;
}

.media-browser .content .media-details {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 300px;
  overflow: auto;
  padding: 10px;
  background-color: #f0f0f0;
}

.media-browser .content .media-details figure {
  padding: 0;
  margin: 0;
}

.media-browser .content .media-details figure figcaption {
  overflow-wrap: break-word;
}

.media-browser .content .media-details figure video {
  width: 100%;
}

.media-browser ul.list {
  padding: 2px;
  margin: 0;
  list-style: none;
}

.media-browser li.attachment {
  width: 16.6%;
  padding: 8px;
  margin: 0;
  position: relative;
  list-style: none;
  float: left;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.media-browser li.attachment img {
  max-height: none;
  max-width: none;
}

.media-browser li.attachment .landscape img {
  max-height: 100%;
}

.media-browser li.attachment .portrait img {
  max-width: 100%;
}

.media-browser li.attachment .thumbnail {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.1s;
}

.media-browser li.attachment .thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
}

.media-browser li.attachment .thumbnail .centered {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(50%, 50%);
}

.media-browser li.attachment .thumbnail .centered img {
  transform: translate(-50%, -50%);
}

.media-browser li.attachment .thumbnail:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.media-browser li.attachment .thumbnail .filename {
  position: absolute;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-top: solid 1px #eee;
}

.media-browser li.attachment .check {
  display: none;
  height: 24px;
  width: 24px;
  padding: 0;
  border: 0;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  outline: 0;
  cursor: pointer;
  background-color: #0073aa;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #0073aa;
}

.media-browser li.attachment .check .media-modal-icon {
  display: block;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="white" d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>');
  height: 15px;
  width: 15px;
  margin: 5px;
}

.media-browser li.attachment .check:hover .media-modal-icon {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="white" d="M0 10h24v4h-24z"/></svg>');
}

.media-browser li.attachment.details {
  box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #0073aa;
}

.media-browser li.attachment.selected .check {
  display: block;
}

.media-browser li.attachment:focus {
  outline: none;
}

.media-browser .attachment-preview {
  position: relative;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  background: #eee;
  cursor: pointer;
  background-position: top center;
  background-repeat: no-repeat;
}

.media-browser .attachment-preview.type-application {
  background-image: url(../images/application.png);
}

.media-browser .attachment-preview.type-audio {
  background-image: url(../images/audio.png);
}

.media-browser .attachment-preview.type-video {
  background-image: url(../images/video.png);
}

.media-browser .attachment-preview:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.media-browser .media-modal-icon {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"><path fill="white" d="M20.285 2l-11.285 11.567-5.286-5.011-3.714 3.716 9 8.728 15-15.285z"/></svg>');
  background-repeat: no-repeat;
}

.media-browser .screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

#views-form-reusable-blocks-page-1 {
  display: flex;
  flex-wrap: wrap;
}

#views-form-reusable-blocks-page-1 #edit-header {
  flex-basis: 100%;
}

#views-form-reusable-blocks-page-1 #edit-block-content-bulk-form--2 {
  display: flex;
  flex-wrap: wrap;
}

#views-form-reusable-blocks-page-1 #edit-actions {
  flex-basis: 100%;
}

#views-form-reusable-blocks-page-1 .form-actions {
  margin: 0.75em 0;
  align-self: flex-end;
}

#views-form-reusable-blocks-page-1 .views-row {
  cursor: pointer;
  width: 360px;
  max-height: 360px;
  overflow: hidden;
  position: relative;
  border: 1px solid #dbdbdb;
  background: #fff;
  margin: 16px 16px 2px 2px;
  transition: border-color 0.2s, color 0.2s;
}

#views-form-reusable-blocks-page-1 .views-row:hover {
  margin: 14px 14px 0 0;
  border: solid 3px #40b6ff;
}

#views-form-reusable-blocks-page-1 .views-row .views-field-info {
  padding: 0 10px;
  border-bottom: 1px solid #dbdbdb;
}

#views-form-reusable-blocks-page-1 .views-row .views-field.views-field-body {
  transform: scale(0.5);
  transform-origin: top left;
  width: 720px;
  max-height: 180px;
}

#views-form-reusable-blocks-page-1 .views-row .views-field-block-content-bulk-form .field-content {
  position: absolute;
  top: 0;
  right: 10px;
}

#edit-allowed-blocks-details .details-wrapper {
  display: flex;
  flex-direction: row;
}

#edit-allowed-blocks-details .details-wrapper fieldset {
  flex: 1;
  margin-right: 10px;
}

#edit-allowed-blocks-details .details-wrapper fieldset:last-child {
  margin-right: 0;
}

#edit-allowed-drupal-blocks-details .details-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#edit-allowed-drupal-blocks-details .details-wrapper fieldset {
  margin-right: 10px;
}

#edit-allowed-drupal-blocks-details .details-wrapper fieldset:last-child {
  margin-right: 0;
}

.ajax-progress-throbber .throbber {
  padding: 1px 7px 2px !important;
}

/*# sourceMappingURL=admin.css.map */