/**
 * Don't edit this file. Find all style at ./sass folder.
 **/
@media (min-width: 600px) {
  body .gutenberg__editor {
    position: relative;
  }
}

@media (min-width: 782px) {
  .gutenberg__editor .edit-post-sidebar {
    top: 56px;
  }
}

.components-modal__content ul {
  list-style: none;
}

.gutenberg__editor {
  position: relative;
}

.gutenberg__editor * {
  box-sizing: border-box;
}

.gutenberg__editor *:focus {
  outline-width: 0;
}

.gutenberg__editor input[type=checkbox] {
  border: 1px solid #b4b9be;
  background: #fff;
  color: #555;
  clear: none;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  height: 16px;
  margin: -4px 4px 0 0;
  outline: 0;
  padding: 0 !important;
  text-align: center;
  vertical-align: middle;
  width: 16px;
  min-width: 16px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: 0.05s border-color ease-in-out;
}

.gutenberg__editor .edit-post-layout {
  padding-top: 0;
  /**
      * Hide Block Manager menu item.
      * To properly override this, a new edit-post component
      * is needed. Maybe a TODO.
      */
}

@media (min-width: 960px) {
  .gutenberg__editor .edit-post-layout {
    padding-top: 0;
  }
}

@media (min-width: 600px) {
  .gutenberg__editor .edit-post-layout {
    padding-top: 0;
  }
}

.gutenberg__editor .edit-post-layout .edit-post-header,
.gutenberg__editor .edit-post-layout .edit-post-sidebar,
.gutenberg__editor .edit-post-layout .components-popover {
  font-family: inherit;
  font-size: 13px;
}

@media (min-width: 782px) {
  .gutenberg__editor .edit-post-layout .edit-post-header {
    position: sticky;
    left: 0;
    top: 0;
  }
}

@media (min-width: 782px) {
  .gutenberg__editor .edit-post-layout .components-notice-list {
    left: 0;
  }
}

.gutenberg__editor .edit-post-layout .components-notice-list .notice,
.gutenberg__editor .edit-post-layout .components-notice-list div.error,
.gutenberg__editor .edit-post-layout .components-notice-list div.updated {
  background: #fff;
  border-left: 4px solid #fff;
}

.gutenberg__editor .edit-post-layout .components-notice-list .notice-alt {
  box-shadow: none;
}

.gutenberg__editor .edit-post-layout .components-notice-list .notice-success.notice-alt {
  background-color: #ecf7ed;
}

.gutenberg__editor .edit-post-layout .components-notice-list .notice-success,
.gutenberg__editor .edit-post-layout .components-notice-list div.updated {
  border-left-color: #46b450;
}

.gutenberg__editor .edit-post-layout .components-notice-list .notice-dismiss {
  position: absolute;
  top: 0;
  right: 1px;
  border: none;
  margin: 5px;
  padding: 9px;
  background: 0 0;
  color: #72777c;
  cursor: pointer;
}

.gutenberg__editor .edit-post-layout .edit-post-sidebar .edit-post-sidebar__panel-tabs ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.gutenberg__editor .edit-post-layout .edit-post-more-menu__content .components-popover__content .components-menu-group:nth-child(3) div[role='menu'] > button:first-child {
  display: none;
}

.gutenberg__editor .screen-reader-text,
.gutenberg__editor .screen-reader-text span,
.gutenberg__editor .ui-helper-hidden-accessible {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.gutenberg__editor .edit-post-visual-editor {
  font-family: inherit;
}

.gutenberg__editor .edit-post-visual-editor p {
  font-family: inherit;
  line-height: 1.2em;
}

.gutenberg__editor .edit-post-visual-editor .editor-post-title .editor-post-title__input {
  font-family: inherit;
}

.gutenberg__editor .edit-post-visual-editor .editor-block-list__layout .editor-block-list__block.is-selected, .gutenberg__editor .edit-post-visual-editor .editor-block-list__layout .editor-block-list__block.is-hovered {
  outline-width: 0;
}

.gutenberg__editor .edit-post-visual-editor .editor-block-list__layout .editor-default-block-appender__content {
  font-family: inherit;
}

.gutenberg__editor .components-range-control .components-base-control__label {
  width: auto;
  flex: 1;
}

.gutenberg__editor .components-color-palette__item:focus:after {
  top: -3px;
  left: -3px;
}

body .gutenberg__editor .edit-post-layout .components-popover {
  font-family: inherit;
}

.components-notice-list {
  top: 56px !important;
}

.editor-block-types-list__item-title {
  padding: 4px 2px;
  min-height: 68px;
}

.wp-block[data-type="core-embed/youtube"] iframe {
  width: 100%;
}

.wp-block-cover .block-editor-url-input input {
  color: #000;
}

body .gutenberg__editor .edit-post-layout .edit-post-header {
  font-family: inherit;
}

@media (min-width: 782px) {
  body .gutenberg__editor .edit-post-layout .edit-post-header {
    position: fixed;
  }
}

body .gutenberg__editor .edit-post-layout .edit-post-header .gutenberg-header-settings #edit-actions {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  body .gutenberg__editor .edit-post-layout .edit-post-header .gutenberg-header-settings #edit-actions input[type="submit"] {
    float: none;
    width: auto;
    margin-top: 0;
    margin-right: 10px;
  }
  body .gutenberg__editor .edit-post-layout .edit-post-header .gutenberg-header-settings #edit-actions a.button {
    padding: 5px 0;
  }
}

@media (min-width: 782px) {
  body.toolbar-horizontal .edit-post-sidebar {
    top: 95px !important;
  }
}

@media (min-width: 782px) {
  body.toolbar-horizontal .edit-post-header {
    top: 39px !important;
    left: 0 !important;
  }
}

@media (min-width: 782px) {
  body.toolbar-horizontal.toolbar-tray-open .edit-post-sidebar {
    top: 134px !important;
  }
}

@media (min-width: 782px) {
  body.toolbar-horizontal.toolbar-tray-open .edit-post-header {
    top: 78px !important;
  }
}

@media (min-width: 782px) {
  body.toolbar-vertical .edit-post-sidebar {
    top: 95px !important;
  }
}

@media (min-width: 782px) {
  body.toolbar-vertical .edit-post-header {
    top: 39px !important;
    left: 240px !important;
  }
}

.edit-post-visual-editor {
  padding: 80px 0;
}

.edit-post-visual-editor .editor-block-list__block[data-align="full"] {
  margin-left: -46px !important;
  margin-right: -46px !important;
}

.edit-post-layout__content {
  padding-bottom: 4px;
}

@media (min-width: 600px) {
  .edit-post-layout__content {
    overscroll-behavior-y: auto !important;
  }
}

@media (min-width: 782px) {
  .edit-post-layout__content {
    margin-left: 0px;
  }
}

.edit-post-sidebar {
  background: #ececec !important;
}

.edit-post-sidebar .components-base-control {
  padding-right: 16px;
}

.edit-post-sidebar .components-button:focus {
  background: none !important;
}

.edit-post-sidebar .edit-post-sidebar-header {
  background: #ececec !important;
  height: auto;
  border: none;
}

.edit-post-sidebar .edit-post-extra-sidebar__panel {
  display: none;
}

.edit-post-sidebar button.edit-post-sidebar__panel-tab {
  color: #0074bd;
  background-color: #eee;
  height: 36px;
}

.edit-post-sidebar button.edit-post-sidebar__panel-tab.is-active {
  border-color: transparent !important;
  background-color: #fff;
}

.edit-post-sidebar .edit-post-post-status {
  display: none;
}

.edit-post-sidebar .field--name-title {
  padding: 0 10px;
}

.edit-post-sidebar .editor-block-inspector__card {
  border-bottom: 1px solid #bfbfbf;
}

.edit-post-sidebar .components-panel__body .components-panel__body {
  background-color: #fcfcfa;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #bfbfbf;
}

.edit-post-sidebar .components-panel__body .components-panel__body .components-panel__body-title button {
  color: #0074bd;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0 1px 0 white;
}

.edit-post-sidebar .components-panel__body .components-panel__body .components-panel__body-title button:before {
  content: '\25BA';
  font-size: 10px;
  line-height: 22px;
  margin-right: 6px;
}

.edit-post-sidebar .components-panel__body .components-panel__body .components-panel__body-title button:hover {
  color: #004f80;
}

.edit-post-sidebar .components-panel__body .components-panel__body .components-panel__body-title button svg {
  display: none;
}

.edit-post-sidebar .components-panel__body .components-panel__body.is-opened {
  background-color: #ececec;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.125), transparent 4px);
  border-top-width: 0;
  padding-top: 17px;
}

.edit-post-sidebar .components-panel__body .components-panel__body.is-opened .components-panel__body-title button {
  color: #004f80;
}

.edit-post-sidebar .components-panel__body .components-panel__body.is-opened .components-panel__body-title button:before {
  content: '\25BC';
}

.edit-post-sidebar .entity-meta {
  border: none;
}

.edit-post-sidebar .entity-meta .entity-meta__header {
  background-color: white;
  border-top: none;
  border-radius: 0;
  padding: 0 10px;
}

.edit-post-sidebar .entity-meta .seven-details > summary {
  padding: 1.25em;
}

.edit-post-sidebar select {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center right;
  padding: 5px 5px;
  line-height: 1.3em;
}

.edit-post-sidebar #edit-additional-fields {
  padding: 0 10px 10px;
}

.gutenberg-sidebar {
  display: none;
}

.edit-post-meta-boxes-area__container {
  margin: auto auto;
  max-width: 810px;
  padding: 0 14px;
}

@media (min-width: 782px) {
  .edit-post-layout__content .components-editor-notices__snackbar {
    left: 0;
  }
}

#gutenberg-loading {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#gutenberg-loading.hide {
  display: none;
}

.gutenberg-full-editor:not(.ready) {
  display: none;
}

.layout-container.full-width {
  margin: 0;
}

body .gutenberg__editor .edit-post-layout .edit-post-sidebar {
  font-family: inherit;
}

.field--gutenberg .form-item + label {
  display: none;
}

.field--gutenberg .filter-wrapper {
  display: none;
}

.wp-block-embed iframe {
  border: none;
}

.editor-rich-text__tinymce[data-is-placeholder-visible="true"] {
  z-index: 2;
}

.editor-rich-text__tinymce ~ .editor-rich-text__tinymce {
  opacity: 0.5;
  pointer-events: none;
}

.edit-post-header__settings .editor-post-save-draft {
  display: none;
}

.edit-post-header__settings .editor-post-publish-panel__toggle {
  display: none !important;
}

.edit-post-header__settings .editor-post-saved-state {
  display: none;
}

.wp-block {
  max-width: 810px;
}

.wp-block[data-align=wide] {
  max-width: 810px;
}

/*# sourceMappingURL=editor.css.map */